<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="buton">
            <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
        </div>

        <div class="clear"></div>


        <section class="section dashboard">


            <!-- Recent Pagos -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <!-- buscador -->
                        <!-- <app-search></app-search> -->
                        <!-- buscador -->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="text-right">
                            <button class="btn btn-primary" [routerLink]="['/dashboard/banner/create/']">
              <i class="fa fa-pencil"></i>
              Crear
            </button>
                        </div>
                    </div>
                </div>


                <div class="card recent-sales overflow-auto">


                    <div class="card-body">


                        <table [ngClass]="loading? 'table table-borderless datatable':'table table-borderless'">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>target</th>
                                    <th>Nombre Boton</th>
                                    <th>Status</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                    <th class="text-nowrap">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let banner of banners |  paginate: { itemsPerPage: count, currentPage: p }">
                                    <td>{{banner.id}}</td>
                                    <td>
                                        <div class="image">
                                            <div *ngIf="!banner.image ">
                                                <img [src]="banner.image | imagenPipe: 'banners'" style="height: 50px; width: 50px;" class="img-circle avatar">
                                            </div>
                                            <div *ngIf="banner.image">
                                                <img [src]="banner.image | imagenPipe: 'banners'" style="height: 50px; width: 50px;" class="img-circle avatar">

                                            </div>
                                        </div>
                                    </td>
                                    <td>{{banner.title}}</td>
                                    <td>{{banner.target}}</td>
                                    <td>{{banner.botonName}}</td>
                                    <td>
                                        <span class="badge bg-success" *ngIf="banner.status === 'PUBLISHED'">Publicado</span>
                                        <span class="badge bg-primary" *ngIf="banner.status === 'PENDING'">Pendiente</span>
                                        <span class="badge bg-danger" *ngIf="banner.status === 'REJECTED'">Rechazado</span>
                                    </td>
                                    <td>
                                        <select class="form-control" [(ngModel)]="banner.status">
                                        <option value="PUBLISHED">Publicado</option>
                                        <option value="PENDING">Pendiente</option>
                                        <option value="REJECTED">Rechazado</option>
                                      </select>
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a (click)="cambiarStatus(banner)" class="cursor" data-toggle="tooltip" data-original-title="Edit">
                                            <button class="btn btn-outline-success">
                                          <i class="bx bxs-check-circle text-success" style="font-size: 18px;"></i> Aceptar
                                        </button>
                                        </a>
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a [routerLink]="['/dashboard/banner/edit', banner.id]" class="cursor" data-toggle="tooltip" data-original-title="Edit">
                                            <div class="btn btn-success"><i class="fa fa-edit"></i></div>
                                        </a>
                                        <a (click)="eliminarCurso(banner.id)" class="cursor" data-toggle="tooltip" data-original-title="Borrar">
                                            <div class="btn btn-danger"><i class="fa fa-trash"></i></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    </div>

                </div>
            </div>
            <!-- End Recent Pagos -->

        </section>
    </div>

</div>
<!--/main-->