<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> <small>Copyright © {{year}} Galletti Ursi Orfebre | Desarrollado por <a href="http://malcolmcordova.com" target="_blank">Malcolm Córdova Studio Design</a></small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->